@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  display: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  height: 0px;
  background: rgba(0, 0, 0, 0.2);
}

.container {
  @apply w-full  text-gray-500 h-[80vh] bg-gray-200 flex items-center justify-center flex-col;
}
.inputField {
  @apply w-full rounded-sm border px-2 py-2 border-blue-400 focus:outline-blue-500;
}
.label {
  @apply mt-4 py-1 self-start;
}
.small {
  @apply text-[10.56px] font-semibold;
}
.title {
  @apply text-[15px];
}
.medium {
  @apply text-[12px];
}

* {
  /* border-style: solid; */
  /* border-color: rgb(77, 78, 78); */
  /* border-width: 1px; */
}
